@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.spider {
    position: absolute;
    height: 0vh;
    width: 1px;
    top: 24px;
    right: 0;
    z-index: 5;
    background-color: black;
}

.spider img {
    position: relative;
    width: 25px;
    top: 0vh;
    left: -12px;
    max-width: 100vw;
    display: none;
}

@keyframes spider-animation {
    from {
        height: 0vh;
        width: 1px;
    }

    to {
        height: 25vh;
        width: 1px;
    }
}


.spider-animation {
    animation-name: spider-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes spider-img-animation {
    from {
        top: 0vh;
    }

    to {
        top: 23vh;
    }
}

.spider-img-animation {
    animation-name: spider-img-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* LEFT TO RIGHT */
.button__left-right {
    border: 2px solid black;
    background: linear-gradient(to right, #000 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all .5s ease-out;
}

.button__left-right:hover {
    background-position: left;
    color: #fff;
}